@import "../variables.scss";

.display-title{
    width: 100%;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    padding-top: 2.3rem;

    .bg-form{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #1c1c1c;
        padding: 1.3rem;
        width: 65%;
        border-radius: 3rem;
        gap: 3rem;


        .der-display{

            h4{
                font-family: $font-primary;
                font-weight: 700;
                font-size: 1.8rem;
                margin-bottom: 2rem;
                color: #ececec;
                text-align: center;
            }
            h5{
                font-family: $font-primary;
                font-weight: 700;
                font-size: 1.3rem;
                margin-bottom: 2rem;
                color: #ececec;
                text-align: center;
            }

            div{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 1rem;
                

                p{
                    font-family: $font-secondary;
                    font-size: 1.1rem;
                    color: #ececec;
                    text-align: center;
                }
                a{
                    font-family: $font-secondary;
                    font-size: 1rem;
                    color: #1c1c1c;
                    text-align: center;
                    text-decoration: none;
                    background-color: #ececec;
                    padding: 1rem;
                    border-radius: 1rem;

                    &:hover{
                        background-color: #d6d5d5;
                    }

                }
            }
        }

    }
}

.display-title-l{
    width: 100%;
    display: flex;
    height: 94.5vh;
    align-items: center;
    justify-content: center;

    .bg-form-l{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #1c1c1c;
        padding: 1.3rem;
        width: 55%;
        border-radius: 3rem;
        gap: 3rem;


        .der-display{

            h4{
                font-family: $font-primary;
                font-weight: 700;
                font-size: 1.8rem;
                margin-bottom: 2rem;
                color: #ececec;
                text-align: center;
            }
            h5{
                font-family: $font-primary;
                font-weight: 700;
                font-size: 1.3rem;
                margin-bottom: 2rem;
                color: #ececec;
                text-align: center;
            }

            div{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 1rem;
                

                p{
                    font-family: $font-secondary;
                    font-size: 1.1rem;
                    color: #ececec;
                    text-align: center;
                }
                a{
                    font-family: $font-secondary;
                    font-size: 1rem;
                    color: #1c1c1c;
                    text-align: center;
                    text-decoration: none;
                    background-color: #ececec;
                    padding: 1rem;
                    border-radius: 1rem;

                    &:hover{
                        background-color: #d6d5d5;
                    }

                }
            }

        }
    }
}