//Variables de scss

// Colores
$color-primary: #1c1c1c;
$color-secondary: #ffffff;

// Color Fuente

$color-font: #3e3e3e;

// Fuentes
$font-primary: "Syne", sans-serif;
$font-secondary: "Rethink Sans", sans-serif;





