@import "../variables.scss";

.nav-display {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $color-secondary;
    border-bottom: solid 1px #e0dede;
    z-index: 10;
    width: 100%;
    position: fixed;
    padding-top: 5px;
    padding-bottom: 5px;

    img {
        width: 60px;
        height: 60px;
        margin-left: 30px;
    }

    .nav-wrapper {
        display: flex;
        justify-content: end;
        flex-direction: row;
        width: 50%;

        .display-list {
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 60%;
            list-style: none;
            padding: 0;
            margin: 0;

            li {
                position: relative;

                a {
                    text-decoration: none;
                    color: $color-font;
                    font-family: $font-secondary;
                    font-size: 1rem;
                    padding-bottom: 1px;

                    &:hover {
                        border-bottom: solid 1px $color-primary;
                    }
                }

                .user-button {
                    cursor: pointer;
                    color: $color-font;
                    font-family: $font-secondary;
                    font-size: 1rem;

                    &:hover {
                        border-bottom: solid 1px $color-primary;
                    }
                }

                .dropdown-menu {
                    position: absolute;
                    top: 100%;
                    right: 3%;
                    width: 120px;
                    background: #ffffff;
                    border-radius: 5px;
                    overflow: hidden;
                    margin-top: 1rem;
                    z-index: 1000;
                    opacity: 0;
                    transform: translateY(-20px);
                    animation: cascade 0.5s forwards;

                    li {
                        padding: 0.5rem;
                        a {
                            text-decoration: none;
                            color: inherit;
                            display: block;
                            width: 100%;
                            text-align: left;
                            font-size: 0.9rem;
                            display: flex;
                            justify-content: start;
                            gap: 0.5rem;
                            align-items: center;
                            padding-bottom: 0.5rem;

                            .display-img{

                                display: flex;
                                justify-content: center;
                                align-items: center;

                                .img-navbar {
                                    width: 0.9rem;
                                    height: 0.9rem;
                                    padding-right: 50%;

                                }
                            }

                        }
                    }
                }
            }
        }
    }
}

@keyframes cascade {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}